<h1>Listing values</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Property</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @values.each do |value| %>
  <tr>
    <td><%= value.item %></td>
    <td><%= value.property %></td>
    <td><%= value.name %></td>
    <td><%= link_to 'Show', value %></td>
    <td><%= link_to 'Edit', edit_value_path(value) %></td>
    <td><%= link_to 'Destroy', value, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Value', new_value_path %>
