<%= form_for @item, :html => { :multipart => true } do |item_form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
	<%= item_form.file_field :image %>
  </div>
  
  
  
  <%= item_form.fields_for :values do |value_form| %>
  <h3>Value</h3>
	<div class="field">
		<%= value_form.label :name %><br>
		<%= value_form.text_field :name %>
	</div>
	<h4> Property </h4>
	<%= value_form.fields_for :property do |property_form| %>
		<div class="field">
			<%= property_form.label :name %><br>
			<%= property_form.text_field :name %>
		</div>
	<% end %>
  <% end %>  
  
  <div class="actions">
    <%= item_form.submit %>
  </div>
<% end %>
