<h1>Listing items</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
	<td><%= image_tag item.image.url(:thumb) %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete %></td>
  </tr>
<% end %>
</table>
<br>

<%= will_paginate @items %>
<br />

<%= link_to 'New Item', new_item_path %>
